.img {
width:80%;
margin-left:40px

}
.space{
    margin-top: 20px;
}
.header{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.heading{
    margin-top: 20px;
    margin-bottom: 10px;
}
.card{
    min-width: 500px;
    max-width: 600px;
    min-height: 200px;
    max-height:auto ;
    /* background-color: antiquewhite; */
}
.root{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.one{
    min-width: 200px;
    max-width: 200 px;
    min-height: 200px;
    max-height:auto ;
}
.dash{
    width: 18rem;
}
.dropdown{
    display: flex;
    position: absolute;
    left: 80%;
    margin-left: 50px;
    /* margin-right: 10px; */

    /* top: 4.5rem; */
    /* right: 1.5rem; */
    /* width: 129pxpx; */
    /* padding: 15px; */
    /* border-radius: px; */
    /* background-color: #fce8c8; */
     /* border: 1px solid gray;  */
    border-radius: 10px;
}

.button{
    
    /* background-color:#f0e7d8;This color corresponds to bg-blue-400 in Tailwind CSS */
    position: absolute;
    top: 40px; /* Assuming you want a fixed value of 20 pixels from the top */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0.5rem; /* You might need to adjust this value based on your requirements */
    /* padding: 0.5rem; Assuming you want a padding of 0.5rem on all sides */
     width: 0%;/* Assuming you want the element to take up the full width */
   left: 115%;
}
.down{
    margin-top: 10px; 
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white; /* Adjust color as needed */
    cursor: pointer;
   border-top-right-radius: 0.5rem; /* Adjust border radius as needed */
    border-bottom-right-radius: 0.5rem; /* Adjust border radius as needed */
    border-top-left-radius: 0.5rem; /* Adjust border radius as needed */
    border-bottom-left-radius: 0.5rem; /* Adjust border radius as needed */
  
    border-left-color: transparent;
  
}
.top{
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0.5rem; /* Adjust border radius as needed */
  }
  #sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
  }
  
  #page-content-wrapper {
    flex: 1;
  }
  
  #wrapper {
    display: flex;
  }





  /* .img
{
 max-height: 400px;
 max-width: 300px;
 border-radius: 10%;
 

    
} */
/* .img1
{
 max-height: 400px;
 max-width: 300px;
 border-radius: 10%;
 

    
}
.form
{
    min-height: 100vh;
    min-width: 50vh;

}
.top
{
    margin-top: 10px;
}
.heading
{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #581c87;
    margin-left: 85px;
    font-size: 40px;
}
.button1
{
    margin-top: 25px;
    margin-left: 350px;
    ;
}

.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94vh;
   
   
    
}
.background{
    background-color:#FAF9F6;
    height: 100vh;
    width: 100%;
}
  .ccard
  {
    min-width: 100vh;
    min-height: 50vh;
    border-radius: 4%;
    background-color: rgba(255, 255, 255, 0.8); 
    
  
  }
  .cardbody
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p{
    
    
    margin-left: 8px;
    color: black;
    cursor: pointer;
  }
  
  .p:hover {
    color: blue ; 
  }
  label{
    max-width: 20cm;

  }
  .alert
  {
    color:red;
    margin-left: 6px;
    opacity: 85%;
    
  }

  
   */